*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
.build.gradle
.gradelew
.gradelew.bat
.settings.gradle
./gradle
/gradle
/idea
./idea
idea
.idea
build.gradle
gradle.properties
gradlew.bat
gradlew
settings.gradle
local.properties
tutorial2/app/libs